.group-63,
.group-63 * {
  box-sizing: border-box;
}
.group-63 {
  height: 4142px;
  position: relative;
}
.rectangle-14 {
  width: 1498.44px;
  height: 77px;
  position: absolute;
  left: 0px;
  top: 4051px;
  overflow: visible;
}
.rectangle-13 {
  background: #ffffff;
  width: 1498.44px;
  height: 111px;
  position: absolute;
  left: 0.78px;
  top: 0px;
}
.rectangle-9 {
  background: #ffffff;
  width: 1498.44px;
  height: 803px;
  position: absolute;
  left: 0.78px;
  top: 879px;
}
.vector {
  width: 9.63%;
  height: 6.98%;
  position: absolute;
  right: 24.4%;
  left: 65.97%;
  bottom: 65.57%;
  top: 27.44%;
  overflow: visible;
}
.div {
  color: #333333;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 50px;
  font-weight: 500;
  position: absolute;
  left: 280.96px;
  top: 1091.32px;
  width: 264.57px;
  height: 77.22px;
}
.contact-us {
  color: #b8b8b8;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 26px;
  font-weight: 500;
  position: absolute;
  left: 280.96px;
  top: 1057px;
  width: 112.38px;
  height: 33.1px;
}
.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-egestas-semper-at-integer-et-at-aliquam-tortor-lectus-commodo-ut-lectus-sed-fermentum-cursus-in-tincidunt-cursus-maecenas-praesent-feugiat-dolor-ipsum-pharetra-laoreet-vulputate-pellentesque-sed {
  color: #505050;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 280.18px;
  top: 1217.57px;
  width: 461.24px;
  height: 94.38px;
}
.group-62 {
  width: 178.72px;
  height: 63.74px;
  position: static;
}
.rectangle-6 {
  background: #333333;
  border-radius: 26px;
  width: 178.72px;
  height: 63.74px;
  position: absolute;
  left: 280.18px;
  top: 1440.66px;
}
.group-61 {
  width: 99.12px;
  height: 28.19px;
  position: static;
}
.contact-now {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: 319.98px;
  top: 1461.5px;
  width: 72.58px;
  height: 23.29px;
}
.ant-design-arrow-right-outlined {
  width: 17.95px;
  height: 28.19px;
  position: absolute;
  left: 401.14px;
  top: 1459.05px;
  overflow: visible;
}
.meet-our-team {
  width: 1498.44px;
  height: 762px;
  position: static;
}
.div2 {
  background: #ffffff;
  width: 1498.44px;
  height: 762px;
  position: absolute;
  left: 0.78px;
  top: 3289px;
}
.meet-our-people {
  width: 286.42px;
  height: 86.68px;
  position: static;
}
.meet-our-people2 {
  color: #333333;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 50px;
  font-weight: 500;
  position: absolute;
  left: 605.62px;
  top: 3351.86px;
  width: 286.42px;
  height: 60.01px;
}
.our-team {
  color: #b8b8b8;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 26px;
  font-weight: 500;
  position: absolute;
  left: 703.95px;
  top: 3325.2px;
  width: 89.75px;
  height: 25.72px;
}
.div3 {
  width: 197.45px;
  height: 449.58px;
  position: static;
}
.div4 {
  color: #333333;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  left: 309.05px;
  top: 3750.01px;
  width: 155.31px;
  height: 30.48px;
}
.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit {
  color: #515050;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  position: absolute;
  left: 303.59px;
  top: 3830.02px;
  width: 166.23px;
  height: 40.96px;
}
.neurosurgeon {
  color: #797979;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 347.29px;
  top: 3793.82px;
  width: 79.6px;
  height: 17.15px;
}
.group-22 {
  width: 178.72px;
  height: 49.53px;
  position: static;
}
.rectangle-62 {
  background: #333333;
  border-radius: 26px;
  width: 178.72px;
  height: 49.53px;
  position: absolute;
  left: 297.35px;
  top: 3890.03px;
}
.group-21 {
  width: 88.19px;
  height: 21.91px;
  position: static;
}
.read-more {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: 342.61px;
  top: 3906.22px;
  width: 60.87px;
  height: 18.1px;
}
.ant-design-arrow-right-outlined2 {
  width: 17.95px;
  height: 21.91px;
  position: absolute;
  left: 412.85px;
  top: 3904.31px;
  overflow: visible;
}
.group-29 {
  width: 197.45px;
  height: 240.98px;
  position: static;
}
.ellipse-6 {
  background: #333333;
  border-radius: 50%;
  width: 197.45px;
  height: 240.98px;
  position: absolute;
  left: 287.98px;
  top: 3489.98px;
}
.group-25 {
  width: 84.24px;
  height: 102.81px;
  position: static;
}
.gg-profile {
  width: 84.24px;
  height: 102.81px;
  position: absolute;
  left: 344.59px;
  top: 3559.06px;
  overflow: hidden;
}
.group {
  width: 91.67%;
  height: 91.67%;
  position: absolute;
  right: 4.17%;
  left: 4.17%;
  bottom: 4.17%;
  top: 4.17%;
  overflow: visible;
}
.div5 {
  color: #333333;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  left: 672.74px;
  top: 3750.01px;
  width: 155.31px;
  height: 30.48px;
}
.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit2 {
  color: #515050;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  position: absolute;
  left: 667.27px;
  top: 3830.02px;
  width: 166.23px;
  height: 40.96px;
}
.neurosurgeon2 {
  color: #797979;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 710.98px;
  top: 3793.82px;
  width: 79.6px;
  height: 17.15px;
}
.rectangle-63 {
  background: #333333;
  border-radius: 26px;
  width: 178.72px;
  height: 49.53px;
  position: absolute;
  left: 661.03px;
  top: 3890.03px;
}
.read-more2 {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: 706.3px;
  top: 3906.22px;
  width: 60.87px;
  height: 18.1px;
}
.ant-design-arrow-right-outlined3 {
  width: 17.95px;
  height: 21.91px;
  position: absolute;
  left: 776.53px;
  top: 3904.31px;
  overflow: visible;
}
.ellipse-62 {
  background: #333333;
  border-radius: 50%;
  width: 197.45px;
  height: 240.98px;
  position: absolute;
  left: 651.66px;
  top: 3489.98px;
}
.gg-profile2 {
  width: 84.24px;
  height: 102.81px;
  position: absolute;
  left: 708.27px;
  top: 3559.06px;
  overflow: hidden;
}
.group2 {
  width: 91.67%;
  height: 91.67%;
  position: absolute;
  right: 4.17%;
  left: 4.17%;
  bottom: 4.17%;
  top: 4.17%;
  overflow: visible;
}
.div6 {
  color: #333333;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  left: 1036.42px;
  top: 3750.01px;
  width: 155.31px;
  height: 30.48px;
}
.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit3 {
  color: #515050;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  position: absolute;
  left: 1030.96px;
  top: 3830.02px;
  width: 166.23px;
  height: 40.96px;
}
.neurosurgeon3 {
  color: #797979;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1074.66px;
  top: 3793.82px;
  width: 79.6px;
  height: 17.15px;
}
.rectangle-64 {
  background: #333333;
  border-radius: 26px;
  width: 178.72px;
  height: 49.53px;
  position: absolute;
  left: 1024.71px;
  top: 3890.03px;
}
.read-more3 {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: 1069.98px;
  top: 3906.22px;
  width: 60.87px;
  height: 18.1px;
}
.ant-design-arrow-right-outlined4 {
  width: 17.95px;
  height: 21.91px;
  position: absolute;
  left: 1140.22px;
  top: 3904.31px;
  overflow: visible;
}
.ellipse-63 {
  background: #333333;
  border-radius: 50%;
  width: 197.45px;
  height: 240.98px;
  position: absolute;
  left: 1015.35px;
  top: 3489.98px;
}
.gg-profile3 {
  width: 84.24px;
  height: 102.81px;
  position: absolute;
  left: 1071.96px;
  top: 3559.06px;
  overflow: hidden;
}
.group3 {
  width: 91.67%;
  height: 91.67%;
  position: absolute;
  right: 4.17%;
  left: 4.17%;
  bottom: 4.17%;
  top: 4.17%;
  overflow: visible;
}
.rectangle-92 {
  background: #eadac3;
  width: 1498.44px;
  height: 912px;
  position: absolute;
  left: 0.78px;
  top: 1682px;
}
.our-vision {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  position: absolute;
  left: 280.18px;
  top: 4082px;
  width: 61.65px;
}
.copyright-metro-hospital-2021 {
  color: #b8b8b8;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 280.18px;
  top: 4114px;
  width: 137.36px;
}
.powered-by-getlead {
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 1136.32px;
  top: 4114px;
  width: 83.51px;
}
.powered-by-getlead-span {
  color: #b8b8b8;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.powered-by-getlead-span2 {
  color: #333333;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 12px;
  font-weight: 500;
}
.features {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  position: absolute;
  left: 358.22px;
  top: 4082px;
  width: 51.51px;
}
.our-team2 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  position: absolute;
  left: 426.9px;
  top: 4082px;
  width: 57.75px;
}
.latest-news {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  position: absolute;
  left: 501.82px;
  top: 4082px;
  width: 74.14px;
}
.contact {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  position: absolute;
  left: 593.13px;
  top: 4082px;
  width: 46.83px;
}
.rectangle-2 {
  background: #eadac3;
  width: 1498.44px;
  height: 768px;
  position: absolute;
  left: 0.78px;
  top: 111px;
}
.capitol-1 {
  width: 245.59px;
  height: 245.59px;
  position: absolute;
  left: 1063.47px;
  top: 337.2px;
  object-fit: cover;
  aspect-ratio: 1;
}
.div7 {
  color: #333333;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 50px;
  font-weight: 500;
  position: absolute;
  left: 280.18px;
  top: 1732px;
  width: 186.52px;
  height: 50px;
}
.rectangle-93 {
  background: #333333;
  width: 221.62px;
  height: 283.96px;
  position: absolute;
  left: 280.18px;
  top: 1868px;
}
.rectangle-10 {
  background: #333333;
  width: 221.62px;
  height: 283.96px;
  position: absolute;
  left: 519.77px;
  top: 1868px;
}
.rectangle-11 {
  background: #333333;
  width: 221.62px;
  height: 283.96px;
  position: absolute;
  left: 759.37px;
  top: 1868px;
}
.rectangle-12 {
  background: #333333;
  width: 221.62px;
  height: 283.96px;
  position: absolute;
  left: 998.18px;
  top: 1868px;
}
.vector2 {
  width: 7.02%;
  height: 4.18%;
  position: absolute;
  right: 70.45%;
  left: 22.53%;
  bottom: 49.4%;
  top: 46.43%;
  overflow: visible;
}
.vector3 {
  width: 7.02%;
  height: 4.18%;
  position: absolute;
  right: 54.47%;
  left: 38.5%;
  bottom: 49.4%;
  top: 46.43%;
  overflow: visible;
}
.vector4 {
  width: 7.02%;
  height: 4.18%;
  position: absolute;
  right: 38.5%;
  left: 54.47%;
  bottom: 49.4%;
  top: 46.43%;
  overflow: visible;
}
.vector5 {
  width: 7.02%;
  height: 4.18%;
  position: absolute;
  right: 22.58%;
  left: 70.4%;
  bottom: 49.4%;
  top: 46.43%;
  overflow: visible;
}
.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit4 {
  color: #515050;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  position: absolute;
  left: 280.18px;
  top: 2387px;
  width: 166.23px;
  height: 43px;
}
.dr-aboobacker-and-team-succesfully-done-the-world-s-first-head-implant {
  color: #333333;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  left: 280.18px;
  top: 2221px;
  width: 221.64px;
  height: 140px;
}
.div8 {
  color: #111010;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  left: 365.24px;
  top: 2173px;
  width: 95.21px;
  height: 18px;
}
.div9 {
  color: #111010;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  left: 848.34px;
  top: 2172px;
  width: 95.21px;
  height: 18px;
}
.div10 {
  color: #111010;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  left: 608.74px;
  top: 2172px;
  width: 95.21px;
  height: 18px;
}
.div11 {
  color: #111010;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  left: 1088.71px;
  top: 2171px;
  width: 95.21px;
  height: 18px;
}
.ellipse-7 {
  background: #333333;
  border-radius: 50%;
  width: 55.41px;
  height: 71px;
  position: absolute;
  left: 280.18px;
  top: 2455px;
}
.group-43 {
  width: 1.29%;
  height: 0.58%;
  position: absolute;
  right: 78.83%;
  left: 19.88%;
  bottom: 39.57%;
  top: 59.85%;
  overflow: visible;
}
.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit5 {
  color: #515050;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  position: absolute;
  left: 519.77px;
  top: 2387px;
  width: 166.23px;
  height: 43px;
}
.dr-aboobacker-and-team-succesfully-done-the-world-s-first-head-implant2 {
  color: #333333;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  left: 519.77px;
  top: 2221px;
  width: 221.64px;
  height: 140px;
}
.group-44 {
  width: 55.41px;
  height: 71px;
  position: static;
}
.ellipse-72 {
  background: #333333;
  border-radius: 50%;
  width: 55.41px;
  height: 71px;
  position: absolute;
  left: 519.77px;
  top: 2455px;
}
.group-432 {
  width: 1.29%;
  height: 0.58%;
  position: absolute;
  right: 62.86%;
  left: 35.85%;
  bottom: 39.57%;
  top: 59.85%;
  overflow: visible;
}
.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit6 {
  color: #515050;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  position: absolute;
  left: 759.37px;
  top: 2387px;
  width: 166.23px;
  height: 43px;
}
.dr-aboobacker-and-team-succesfully-done-the-world-s-first-head-implant3 {
  color: #333333;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  left: 759.37px;
  top: 2221px;
  width: 221.64px;
  height: 140px;
}
.ellipse-73 {
  background: #333333;
  border-radius: 50%;
  width: 55.41px;
  height: 71px;
  position: absolute;
  left: 759.37px;
  top: 2455px;
}
.group-433 {
  width: 1.29%;
  height: 0.58%;
  position: absolute;
  right: 46.89%;
  left: 51.82%;
  bottom: 39.57%;
  top: 59.85%;
  overflow: visible;
}
.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit7 {
  color: #515050;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  position: absolute;
  left: 998.96px;
  top: 2387px;
  width: 166.23px;
  height: 43px;
}
.dr-aboobacker-and-team-succesfully-done-the-world-s-first-head-implant4 {
  color: #333333;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  left: 998.96px;
  top: 2221px;
  width: 221.64px;
  height: 140px;
}
.ellipse-74 {
  background: #333333;
  border-radius: 50%;
  width: 55.41px;
  height: 71px;
  position: absolute;
  left: 998.96px;
  top: 2455px;
}
.group-434 {
  width: 1.29%;
  height: 0.58%;
  position: absolute;
  right: 30.92%;
  left: 67.79%;
  bottom: 39.57%;
  top: 59.85%;
  overflow: visible;
}
.our-vision2 {
  color: #b8b8b8;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 26px;
  font-weight: 500;
  position: absolute;
  left: 280.18px;
  top: 219px;
  width: 102.24px;
  height: 27px;
}
.rectangle-65 {
  background: #9d664e;
  border-radius: 26px;
  width: 178.72px;
  height: 52px;
  position: absolute;
  left: 280.18px;
  top: 719px;
}
.group-14 {
  width: 103.02px;
  height: 19px;
  position: static;
}
.div12 {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: 318.42px;
  top: 736px;
  width: 103.02px;
  height: 19px;
}
.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-tristique-arcu-a-nisi-semper-ut-cras-odio-ac-sem-ac {
  color: #515050;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 280.18px;
  top: 461px;
  width: 379.29px;
  height: 39px;
}
.rectangle-102 {
  background: #f1f1f1;
  width: 1498.44px;
  height: 695px;
  position: absolute;
  left: 1.56px;
  top: 2594px;
}
.div13 {
  width: 940.43px;
  height: 558px;
  position: static;
}
.group-41 {
  width: 940.43px;
  height: 284.6px;
  position: static;
}
.group-40 {
  width: 940.43px;
  height: 284.6px;
  position: static;
}
.rectangle-94 {
  background: #333333;
  width: 221.62px;
  height: 283.96px;
  position: absolute;
  left: 297.35px;
  top: 2824px;
}
.vector6 {
  width: 3.74%;
  height: 2.23%;
  position: absolute;
  right: 70.92%;
  left: 25.34%;
  bottom: 28.17%;
  top: 69.6%;
  overflow: visible;
}
.rectangle-95 {
  background: #333333;
  width: 221.62px;
  height: 283.96px;
  position: absolute;
  left: 1016.16px;
  top: 2824px;
}
.vector7 {
  width: 3.74%;
  height: 2.23%;
  position: absolute;
  right: 23%;
  left: 73.26%;
  bottom: 28.17%;
  top: 69.6%;
  overflow: visible;
}
.rectangle-96 {
  background: #333333;
  width: 221.62px;
  height: 283.96px;
  position: absolute;
  left: 536.95px;
  top: 2824px;
}
.vector8 {
  width: 3.74%;
  height: 2.23%;
  position: absolute;
  right: 54.95%;
  left: 41.31%;
  bottom: 28.17%;
  top: 69.6%;
  overflow: visible;
}
.rectangle-97 {
  background: #333333;
  width: 221.62px;
  height: 283.96px;
  position: absolute;
  left: 776.55px;
  top: 2824px;
}
.vector9 {
  width: 3.74%;
  height: 2.23%;
  position: absolute;
  right: 38.97%;
  left: 57.29%;
  bottom: 28.17%;
  top: 69.6%;
  overflow: visible;
}
.group-36 {
  width: 221.62px;
  height: 75.6px;
  position: static;
}
.rectangle-122 {
  background: #f1f1f1;
  width: 221.62px;
  height: 75.6px;
  position: absolute;
  left: 297.35px;
  top: 3033px;
}
._1 {
  color: #515050;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 27px;
  font-weight: 500;
  position: absolute;
  left: 332.47px;
  top: 3055px;
  width: 150.62px;
  height: 32px;
}
.group-39 {
  width: 221.62px;
  height: 75.6px;
  position: static;
}
.rectangle-123 {
  background: #f1f1f1;
  width: 221.62px;
  height: 75.6px;
  position: absolute;
  left: 1016.13px;
  top: 3033px;
}
._4 {
  color: #515050;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 27px;
  font-weight: 500;
  position: absolute;
  left: 1075.44px;
  top: 3055px;
  width: 103.02px;
  height: 32px;
}
.group-37 {
  width: 221.62px;
  height: 75.6px;
  position: static;
}
.rectangle-124 {
  background: #f1f1f1;
  width: 221.62px;
  height: 75.6px;
  position: absolute;
  left: 536.94px;
  top: 3033px;
}
._2 {
  color: #515050;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 27px;
  font-weight: 500;
  position: absolute;
  left: 588.45px;
  top: 3054.64px;
  width: 117.85px;
  height: 32px;
}
.group-38 {
  width: 221.62px;
  height: 75.6px;
  position: static;
}
.rectangle-125 {
  background: #f1f1f1;
  width: 221.62px;
  height: 75.6px;
  position: absolute;
  left: 776.53px;
  top: 3033px;
}
._3 {
  color: #515050;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 27px;
  font-weight: 500;
  position: absolute;
  left: 801.51px;
  top: 3055px;
  width: 170.92px;
  height: 32px;
}
.div14 {
  color: #333333;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 50px;
  font-weight: 500;
  position: absolute;
  left: 297.35px;
  top: 2700px;
  width: 452.65px;
  height: 65px;
}
.features2 {
  color: #b8b8b8;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 26px;
  font-weight: 500;
  position: absolute;
  left: 297.35px;
  top: 2663px;
  width: 82.73px;
  height: 27px;
}
.group-222 {
  width: 178.72px;
  height: 52px;
  position: static;
}
.rectangle-66 {
  background: #333333;
  border-radius: 26px;
  width: 178.72px;
  height: 52px;
  position: absolute;
  left: 297.35px;
  top: 3169px;
}
.group-212 {
  width: 88.19px;
  height: 23px;
  position: static;
}
.read-more4 {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: 342.61px;
  top: 3186px;
  width: 60.87px;
  height: 19px;
}
.ant-design-arrow-right-outlined5 {
  width: 17.95px;
  height: 23px;
  position: absolute;
  left: 412.85px;
  top: 3184px;
  overflow: visible;
}
.div15 {
  color: #333333;
  text-align: left;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 60px;
  font-weight: 600;
  position: absolute;
  left: 280.18px;
  top: 261px;
  width: 512.75px;
  height: 145px;
}
.best-and-timely-diagnosis {
  color: #515050;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 312.17px;
  top: 557px;
  width: 151.4px;
  height: 23px;
}
.advanced-medical-equipments {
  color: #515050;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 312.17px;
  top: 597px;
  width: 174.04px;
  height: 23px;
}
.experienced-professionals {
  color: #515050;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 312.17px;
  top: 637px;
  width: 151.4px;
  height: 23px;
}
.teenyicons-tick-circle-solid {
  width: 20.29px;
  height: 26px;
  position: absolute;
  left: 280.18px;
  top: 556px;
  overflow: hidden;
}
.group4 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.teenyicons-tick-circle-solid2 {
  width: 20.29px;
  height: 26px;
  position: absolute;
  left: 280.18px;
  top: 596px;
  overflow: hidden;
}
.group5 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.teenyicons-tick-circle-solid3 {
  width: 20.29px;
  height: 26px;
  position: absolute;
  left: 280.18px;
  top: 636px;
  overflow: hidden;
}
.group6 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.button-style-2-shadow {
  background: #eadac3;
  border-radius: 16px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 2px;
  opacity: 0.8;
  padding: 8px 36px 8px 36px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  width: 196.67px;
  height: 76px;
  position: absolute;
  left: 1260.41px;
  top: 13px;
  box-shadow: var(
    --light-shadow-6-box-shadow,
    0px 8px 16px 0px rgba(96, 97, 112, 0.16),
    0px 2px 4px 0px rgba(40, 41, 61, 0.04)
  );
}
.login {
  background: var(
    --gradient-gradient-9,
    linear-gradient(
      180deg,
      rgba(15, 12, 41, 1) 0%,
      rgba(48, 43, 99, 1) 50%,
      rgba(36, 36, 62, 1) 100%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 14px;
  font-weight: 600;
  position: relative;
}
.team-aa-1 {
  border-radius: 76px;
  width: 92.76px;
  height: 92.76px;
  position: absolute;
  left: calc(50% - 707.8px);
  top: 6.12px;
  object-fit: cover;
  aspect-ratio: 1;
}
.div16 {
  color: #000000;
  text-align: center;
  font-family: "SourceSerifPro-SemiBold", sans-serif;
  font-size: 75px;
  font-weight: 600;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 10px;
  width: 601.72px;
  height: 98px;
}
.arrow-right-o {
  width: 10.93px;
  height: 14px;
  position: absolute;
  left: 426.12px;
  top: 739px;
  overflow: visible;
}
