{% extends 'main/base.html' %}
{% load static %}

{% block title %}{{ name }} 봇과 대화하기{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'main/css/chat.css' %}">
{% endblock %}

{% block content %}
<div class="chat-container">
<div class="chat-row">
    <img class="profile-img" src="{{ pic_link }}" alt="프로필사진">
    <div class="chat-bubble">
    {{ response|linebreaksbr }}
    </div>
</div>
</div>

<form class="chat-input-wrap" method="post" action="{% url 'chat' str_id=str_id %}">
{% csrf_token %}
<div class="input-box-container">
    <input class="chat-input-box" autocomplete="off" name="message" type="text" placeholder="무엇이든 물어보세요">
    <button class="send-btn" type="submit">
    <span class="send-arrow">&#8593;</span>
    </button>
</div>
</form>
{% endblock %}