{% extends 'main/base.html' %}
{% load static %}

{% block title %}정치 성향 분석 서비스{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'main/css/history.css' %}">
{% endblock %}

{% block content %}
<!-- 본문 -->
<div class="container">
    <h1>성향 분석 리포트 보기</h1>
    <div class="report-area">
        <div class="report-title">지난 리포트 다시 보기</div>
        <table class="report-table">
            <thead>
                {% if reports.0.ratio %}
                <tr>
                    <th>번호</th>
                    <th>날짜</th>
                    <th>가장 적합한 정당</th>
                    <th>가장 적합한 정치인</th>
                    <th>전체 성향</th>
                </tr>
                {% else %}
                <tr><th>가장 최근에 진행한 리포트가 없습니다...</th></tr>
                {% endif %}
            </thead>
            <tbody>
                {% for report in reports %}
                    {% if report.ratio %}
                    <tr class="button-row" onclick="location.href='/userreport?date={{ report.created_at }}';" tabindex="0">
                        <td>{{ report.rank }}</td>
                        <td>{{ report.created_at }}</td>
                        <td>{{ report.party }}</td>
                        <td>{{ report.politician }}</td>
                        <td>
                            <div class="result-bar-container">
                                <span class="result-bar bar-red" style="width:{{ report.ratio }}%;"></span>
                                <span class="result-bar bar-green" style="width:{{ report.ratio2 }}%;"></span>
                                {% if report.ratio %}
                                <span class="bar-text">{{ report.ratio }}%</span>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}