{% extends 'main/base.html' %}
{% load static %}

{% block title %}정치 성향 분석 서비스{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'main/css/history.css' %}">
{% endblock %}

{% block content %}
<!-- 본문 -->
<div class="container">
    <h1>성향 분석 리포트 보기</h1>
    <div class="report-area">
        <div class="report-title">지난 리포트 다시 보기</div>
        <table class="report-table">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>날짜</th>
                    <th>가장 적합한 정당</th>
                    <th>가장 적합한 정치인</th>
                    <th>전체 성향</th>
                </tr>
            </thead>
            <tbody>
                <tr class="button-row" onclick="location.href='/report/1/';" tabindex="0">
                    <td>1</td>
                    <td>25.05.20</td>
                    <td>민주당</td>
                    <td>이재명</td>
                    <td>
                        <div class="result-bar-container">
                            <span class="result-bar bar-red" style="width:44%;"></span>
                            <span class="result-bar bar-green" style="width:56%;"></span>
                            <span class="bar-text">44%</span>
                        </div>
                    </td>
                </tr>
                <tr class="button-row" onclick="location.href='/report/2/';" tabindex="0">
                    <td>2</td>
                    <td>25.05.19</td>
                    <td>국민의힘</td>
                    <td>홍길동</td>
                    <td>
                        <div class="result-bar-container">
                            <span class="result-bar bar-blue" style="width:55%;"></span>
                            <span class="result-bar bar-green" style="width:45%;"></span>
                            <span class="bar-text">55%</span>
                        </div>
                    </td>
                </tr>
                <tr class="button-row" onclick="location.href='/report/3/';" tabindex="0">
                    <td>3</td>
                    <td>25.05.18</td>
                    <td>조국혁신당</td>
                    <td>김철수</td>
                    <td>
                        <div class="result-bar-container">
                            <span class="result-bar bar-blue" style="width:55%;"></span>
                            <span class="result-bar bar-green" style="width:45%;"></span>
                            <span class="bar-text">55%</span>
                        </div>
                    </td>
                </tr>
                <tr class="button-row" onclick="location.href='/report/4/';" tabindex="0">
                    <td>4</td>
                    <td>25.05.17</td>
                    <td>더불어민주당</td>
                    <td>박영희</td>
                    <td>
                        <div class="result-bar-container">
                            <span class="result-bar bar-red" style="width:41%;"></span>
                            <span class="result-bar bar-green" style="width:59%;"></span>
                            <span class="bar-text">41%</span>
                        </div>
                    </td>
                </tr>
                <tr class="button-row" onclick="location.href='/report/5/';" tabindex="0">
                    <td>5</td>
                    <td>25.05.16</td>
                    <td>개혁신당</td>
                    <td>이순신</td>
                    <td>
                        <div class="result-bar-container">
                            <span class="result-bar bar-blue" style="width:57%;"></span>
                            <span class="result-bar bar-green" style="width:43%;"></span>
                            <span class="bar-text">57%</span>
                        </div>
                    </td>
                </tr>
                <tr class="button-row" onclick="location.href='/report/6/';" tabindex="0">
                    <td>6</td>
                    <td>25.05.15</td>
                    <td>민주당</td>
                    <td>이재명</td>
                    <td>
                        <div class="result-bar-container">
                            <span class="result-bar bar-blue" style="width:62%;"></span>
                            <span class="result-bar bar-green" style="width:38%;"></span>
                            <span class="bar-text">62%</span>
                        </div>
                    </td>
                </tr>
                <tr class="button-row" onclick="location.href='/report/7/';" tabindex="0">
                    <td>7</td>
                    <td>25.05.14</td>
                    <td>국민의힘</td>
                    <td>홍길동</td>
                    <td>
                        <div class="result-bar-container">
                            <span class="result-bar bar-blue" style="width:57%;"></span>
                            <span class="result-bar bar-green" style="width:43%;"></span>
                            <span class="bar-text">57%</span>
                        </div>
                    </td>
                </tr>
                <tr class="button-row" onclick="location.href='/report/8/';" tabindex="0">
                    <td>8</td>
                    <td>25.05.13</td>
                    <td>조국혁신당</td>
                    <td>김철수</td>
                    <td>
                        <div class="result-bar-container">
                            <span class="result-bar bar-blue" style="width:51%;"></span>
                            <span class="result-bar bar-green" style="width:49%;"></span>
                            <span class="bar-text">51%</span>
                        </div>
                    </td>
                </tr>
                <tr class="button-row" onclick="location.href='/report/9/';" tabindex="0">
                    <td>9</td>
                    <td>25.05.12</td>
                    <td>더불어민주당</td>
                    <td>박영희</td>
                    <td>
                        <div class="result-bar-container">
                            <span class="result-bar bar-red" style="width:49%;"></span>
                            <span class="result-bar bar-green" style="width:51%;"></span>
                            <span class="bar-text">49%</span>
                        </div>
                    </td>
                </tr>
                <tr class="button-row" onclick="location.href='/report/10/';" tabindex="0">
                    <td>10</td>
                    <td>25.05.11</td>
                    <td>개혁신당</td>
                    <td>이순신</td>
                    <td>
                        <div class="result-bar-container">
                            <span class="result-bar bar-red" style="width:47%;"></span>
                            <span class="result-bar bar-green" style="width:53%;"></span>
                            <span class="bar-text">47%</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}